html,
body {
  background: url("../images/tardis.png");
  background-position: center;
  color: #fff;
}

.blank-letter {
  width: 50px;
}

.letter-box {
  display: inline-block;
}

#prompt-to-start {
}

#game-over {
  display: none;
}
